In [1]:
import pandas as pd

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df_samhsa = pd.read_csv('../samhsa/clean/samhsa-treatment-data-subset-cols.csv')
df_mn = pd.read_csv('../monte-nido/monte-nido-for-concat.csv')
df_carf = pd.read_csv('../carf/carf-accredited-for-concat.csv')

In [3]:
# add a source column for all of them to know where the data came from
df_samhsa['data_source'] = 'Substance Abuse and Mental Health Services Administration'
df_mn['data_source'] = 'Monte Nido & Affiliates'
df_carf['data_source'] = 'Commission on Accreditation of Rehabilitation Facilities'

In [4]:
df_samhsa.columns

Index(['name1', 'name2', 'street1', 'street2', 'city', 'state', 'zip', 'zip4',
       'county', 'phone', 'website', 'latitude', 'longitude', 'hi', 'res',
       'phdt', 'op', 'cbhc', 'msmh', 'omh', 'ores', 'ph', 'psy', 'rtca',
       'rtcc', 'ipsy', 'shp', 'vahc', 'chld', 'yad', 'adlt', 'snr', 'tay',
       'se', 'gl', 'vet', 'adm', 'mf', 'cj', 'co', 'hv', 'dv', 'trma', 'tbi',
       'alz', 'ped', 'pefp', 'ptsd', 'sed', 'smi', 'data_source'],
      dtype='object')

In [5]:
df_mn.columns

Index(['address', 'street', 'city', 'state', 'program_type',
       'program_type_specific', 'org', 'hi', 'res', 'phdt', 'op', 'cbhc',
       'msmh', 'omh', 'ores', 'ph', 'psy', 'rtca', 'rtcc', 'ipsy', 'shp',
       'vahc', 'chld', 'yad', 'adlt', 'snr', 'tay', 'se', 'gl', 'vet', 'adm',
       'mf', 'cj', 'co', 'hv', 'dv', 'trma', 'tbi', 'alz', 'ped', 'pefp',
       'ptsd', 'sed', 'smi', 'data_source'],
      dtype='object')

In [6]:
df_carf.columns

Index(['name', 'link', 'city', 'state', 'company', 'type', 'address',
       'address_pt2', 'phone', 'website', 'hi', 'res', 'phdt', 'op', 'cbhc',
       'msmh', 'omh', 'ores', 'ph', 'psy', 'rtca', 'rtcc', 'ipsy', 'shp',
       'vahc', 'chld', 'yad', 'adlt', 'snr', 'tay', 'se', 'gl', 'vet', 'adm',
       'mf', 'cj', 'co', 'hv', 'dv', 'trma', 'tbi', 'alz', 'ped', 'pefp',
       'ptsd', 'sed', 'smi', 'zip', 'data_source'],
      dtype='object')

In [7]:
df_samhsa.head(2)

,name1,name2,street1,street2,city,state,zip,zip4,county,phone,...,dv,trma,tbi,alz,ped,pefp,ptsd,sed,smi,data_source
0,CSB of Middle Georgia,Quentin Price Crisis Stablization Unit,118 Thomas Lane,Building 9,Dublin,GA,31021,NaN,Laurens,478-275-6811 x1177,...,NaN,1.0,NaN,NaN,1,NaN,1.0,NaN,1.0,Substance Abuse and Mental Health Services Adm...
1,Hillside Inc,NaN,690 Courtenay Drive NE,NaN,Atlanta,GA,30306,3421.0,Fulton,404-875-4551,...,NaN,1.0,NaN,NaN,1,NaN,1.0,1.0,NaN,Substance Abuse and Mental Health Services Adm...

In [8]:
df_mn.head(2)

# rename org to name
# rename street to street1

df_mn = df_mn.rename(columns = {'org': 'name1', 'street': 'street1'})

# remove address, program_type, program_type_specific columns
df_mn = df_mn.drop(columns=['address', 'program_type', 'program_type_specific'])

In [9]:
df_carf.head(2)

# rename address to street
# rename name to name1
# rename company to name2
df_carf = df_carf.rename(columns = {'address': 'street1', 'name': 'name1', 'company': 'name2'})

# remove address_pt2, link, type columns
df_carf = df_carf.drop(columns=['address_pt2', 'link', 'type'])

In [10]:
df_stacked = pd.concat([df_samhsa, df_mn, df_carf]) 
df_stacked.head()

,name1,name2,street1,street2,city,state,zip,zip4,county,phone,...,dv,trma,tbi,alz,ped,pefp,ptsd,sed,smi,data_source
0,CSB of Middle Georgia,Quentin Price Crisis Stablization Unit,118 Thomas Lane,Building 9,Dublin,GA,31021.0,NaN,Laurens,478-275-6811 x1177,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,Substance Abuse and Mental Health Services Adm...
1,Hillside Inc,NaN,690 Courtenay Drive NE,NaN,Atlanta,GA,30306.0,3421.0,Fulton,404-875-4551,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,Substance Abuse and Mental Health Services Adm...
2,Center for Discovery,NaN,1364 Manget Way,NaN,Atlanta,GA,30338.0,NaN,DeKalb,866-944-9796,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,Substance Abuse and Mental Health Services Adm...
3,Southern Live Oak Wellness,NaN,1535 Mount Vernon Road,NaN,Atlanta,GA,30338.0,NaN,DeKalb,770-238-2674,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,Substance Abuse and Mental Health Services Adm...
4,Cathedral Home for Children,NaN,4989 North 3rd Street,NaN,Laramie,WY,82072.0,NaN,Albany,307-745-8997,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,Substance Abuse and Mental Health Services Adm...

In [11]:
df_stacked.to_csv('compiled-data.csv', index=False)